
<div class="container-fluid">
  <h1 class="page-header quote">“A friend is someone who knows you on Facebook.” - Mahatma Gandhi</h1>
  <div class="padded-container">
  <div class="row placeholders">
    <div class="placeholder">
      <img src="/images/cat.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Friends</h4>
      <div class="placeholder">are fun</div>
    </div>
  </div>
  </div>
</div>

<div class="button-create">
  <a href="/submit" style="text-decoration:none">
    <h3>Try it out!</h3>
  </a>
</div>
